@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Berkelium64;
  src: url(../fonts/W95FA.otf) format("truetype");
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  font-family: Berkelium64;
  /* border: 1px red solid; */
}

.oldButtonHover:hover > div > p {
  @apply border-2 border-dotted border-black px-3 leading-none;
}

.oldButtonHover > div > p {
  @apply border-windows-neutral border-2 px-3 leading-none hover:border-dotted;
}

.closeButtonHover:hover > div > p {
  @apply border-2 border-dotted border-black leading-none text-black;
}

.closeButtonHover > div > p {
  @apply border-windows-neutral border-2 leading-none text-gray-500 hover:border-dotted;
}

.keepscroll-animation {
  animation-name: blink;
  animation-duration: 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
